<header class="flex justify-center bg-title text-white shadow-md py-12">

    <nav class=" flex items-center justify-between flex-wrap w-3/5 ">
        <h1 class="main-title">
          <a href="/">  Cooking recipes</a>
        </h1>
        <div class="block cursor-pointer text-white md:hidden" id="burger">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
        <div class="hidden w-full justify-end flex-grow md:flex md:items-center md:w-auto" id="menu">
            <ul class="flex justify-end items-center text-lg"  >
                <li class=" font-bold p-2"><a href="/"><span><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                  </svg></span></a></li>
                <li class="font-bold m-2 hover:border-b-2 border-white"><a href="/about" ><span>About</span></a></li>
                <!--  LINK TO CONTACT PAGE
                    <li class="font-bold m-2 hover:border-b-2 border-white"><a href="/contact"><span>Contact</span></a></li> 
                  -->
                <li class="font-bold m-2 hover:border-b-2 border-white"><a href="/create"><span>Add recipe</span></a></li>
            </ul>
      </nav>

    </div>

</header>