@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply  bg-white rounded-lg shadow-md relative hover:scale-105;
}
.main {
  @apply px-16 py-6 bg-gray-50;
}
h1 {
  font-size: 25px;
}
.desc {
  margin: 2rem 0;
}
.delete {
  @apply   bg-primary text-white font-bold px-5 py-2 hover:text-primary hover:bg-white transition ease-out duration-500 cursor-pointer;
}

.badge {
    @apply  absolute top-0 right-0 mr-2 mt-2 flex justify-center items-center bg-white text-gray-400  rounded-full p-2 shadow-lg ;
}
.btn {
    @apply  py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}
.title {
    @apply  text-title text-2xl mb-1 font-bold hover:text-primary transition ease-out duration-500 cursor-pointer;

}

header{
  background-image: url('/images/bg-brooke-lark.jpg');
  background-size: cover;
  height: 750px;
}

intro {
  position: relative;
  top:12%;
  left: 10%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

intro > h1, p {
  width: 360px;
  }
.intro-txt-light {
  font-weight: 100;
  margin-top: 20px;
  }
.add-btn {
  margin-top: 0 !important;
}
input#ingredients {
  margin-right: 26px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather';
}

h1.title.single {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-title {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Pacifico', cursive;
}

    .create-recipe form{
        max-width: 400px;
        
      }
      .create-recipe input,
      .create-recipe textarea{

        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
        border: 1px solid rgb(230, 230, 230);
      }
      .create-recipe label{
        @apply  text-title font-bold cursor-pointer mt-6;
      }
      textarea{
        height: 120px;
      }
      .create-recipe button{

        @apply  text-white bg-primary py-2 px-4 border-0 font-bold cursor-pointer mt-5;

      }

      .email-box img {
        width: 70%;
        height: auto;
        margin: auto;
      }
  
